/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-field{
    -fx-background-color: #fff;
    -fx-border-color: gray;
    -fx-font-size:10px;
    -fx-border-radius: 33px;
    -fx-background-radius: 33px;
    -fx-padding: 5px 15px 5px 15px;
}


.button{
    -fx-padding:  6px 12px 6px 12px;
    -fx-font-size: 14px;
    -fx-margin-bottom: 0;
    /*-fx-font-weight: 900;*/
    -fx-line-height: 1.42857143;
    -fx-border: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 4px;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:cancel{
    -fx-text-fill: #fff;
    -fx-background-color: #dc3545;
    -fx-border-color: #dc3545;
}

.button:cancel:hover{
    -fx-text-fill: #fff;
    -fx-background-color: #c82333;
    -fx-border-color: #bd2130;
}

.button:cancel:pressed{
    -fx-text-fill: #fff;
    -fx-background-color: #bd2130;
    -fx-border-color: #b21f2d;
    -fx-effect: dropshadow(three-pass-box,rgba(220, 53, 69, 0.5),2,1,1,1);
}

.button:default{
    -fx-text-fill:  #fff;
    -fx-background-color:  #28a745;
    -fx-border-color:  #28a745;
    -fx-border-color: transparent;
    -fx-border:1px;
}

.button:default:hover{
    -fx-text-fill: #fff;
    -fx-background-color: #218838;
    -fx-border-color: #1e7e34;
}


.button:default:pressed{
    -fx-background-color:  #1e7e34;
    -fx-effect: dropshadow(three-pass-box,rgba(40, 167, 69, 0.5),2,1,1,1);
}

.button:default:active{
    -fx-border-color: red;
}

.button:default:active{
    -fx-text-fill: #fff;
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
}

.btn-primary{
    -fx-text-fill: #fff;
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
}

.btn-primary:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0069d9;
    -fx-border-color: #0062cc;
}
.btn-primary:pressed{
    -fx-background-color:  #007bff;
    -fx-effect: dropshadow(three-pass-box,rgba(0, 123, 255, 0.5),2,1,1,1);
}

.btn-primary:active{
    -fx-text-fill: #fff;
    -fx-background-color: #0062cc;
    -fx-border-color: #005cbf;
}

.btn-secondary{
    -fx-text-fill: #fff;
    -fx-background-color: #868e96;
    -fx-border-color: #868e96;
}

.btn-secondary:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #727b84;
    -fx-border-color: #6c757d;
}
.btn-secondary:pressed{
    -fx-background-color:  #727b84;
    -fx-effect: dropshadow(three-pass-box,rgba(134, 142, 150, 0.5),2,1,1,1);
}

.btn-secondary:active{
    -fx-text-fill: #fff;
    -fx-background-color: #6c757d;
    -fx-border-color: #666e76;
    -fx-effect: dropshadow(three-pass-box,rgba(134, 142, 150, 0.5),2,1,1,1);
}